:root {
  --color-primary: #123456;
  --color-secondary: #fff;
  --azul-royal: #144480;
  --fundo-card-timer: rgba(20, 68, 128, 0.3);
  --lils: #b872ff;
  --linear-botes: linear-gradient(180deg, #b872ff 0%, #144480 100%);
  --azul-profundo: #01080e;
  --fundo-card: rgba(255, 255, 255, 0.5);
  --fundo-card-concluido: rgba(0, 244, 191, 0.4);
}

* {
  box-sizing: border-box;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Unbounded", cursive;
}
